html {
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #b4f6ff;
}

img {
  display: block;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3 {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Nixie One', serif;
  font-weight: 400;
  color: #181818;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #181818;
  line-height: calc(14 * 1.6px);
}

a {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Nixie One', serif;
  font-weight: 400;
  color: #181818;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-shadow: 1px 1px 0 #f6f6f6;
}

a:hover {
  border-bottom: 5px solid #D6D6D7;
}

button {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #181818;
  font-weight: 700;
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #f6f6f6;
  max-width: 900px;
  width: 80%;
  height: 85vh;
  padding: 30px 50px;
  padding-top: 8px;
  border: 10px solid #D6D6D7;
  border-radius: 40px;
  margin: auto 0;
}

.innerWrapper h3:first-of-type {
  margin-top: 0;
}

@media (max-width: 1200px) {
  .innerWrapper {
    margin-left: 130px;
  }
}

@media (max-width: 860px) {
  .innerWrapper {
    padding: 15px 25px;
  }
}

@media (max-width: 640px) {
  .innerWrapper {
    margin-left: 0;
    min-height: 85vh;
    width: 95%;
  }
  .resultsContainer .innerWrapper, .restaurants .innerWrapper {
    height: auto;
  }
}

header nav label {
  position: fixed;
  top: -200%;
  right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav input {
  display: none;
}

header h1, header h3 {
  text-align: center;
}

header h1 {
  position: relative;
}

header h1::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
  border-bottom: 5px solid #D6D6D7;
}

header li {
  width: 30%;
  padding: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header img {
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(1px 1px 0 #101564);
          filter: drop-shadow(1px 1px 0 #101564);
}

header .sideNav {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
}

header .userChoiceMini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  width: 120px;
  height: 60px;
  margin-top: 20px;
  border: 4px solid #D6D6D7;
  border-left: none;
  border-radius: 0 15px 15px 0;
  background: #f6f6f6;
}

header .userChoiceMini li:hover {
  -webkit-transform: scale(1.2) rotate(20deg);
          transform: scale(1.2) rotate(20deg);
}

header .landingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header .userChoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin-bottom: 40px;
}

header .userChoice li {
  width: 100px;
}

header .userChoice li:hover {
  -webkit-transform: scale(1.2) rotate(20deg);
          transform: scale(1.2) rotate(20deg);
}

header .userChoice img {
  -webkit-filter: drop-shadow(2px 2px 2px #101564);
          filter: drop-shadow(2px 2px 2px #101564);
}

header .pageNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header .pageNav li {
  width: auto;
  margin: 1vh 0;
  padding-left: 24px;
}

header .pageNav a {
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 2px;
}

header .pageNav::after {
  content: '';
  position: absolute;
  left: 15px;
  height: 100%;
  border-left: 6px solid #D6D6D7;
}

header .navCool::after,
header .navMild::after,
header .navWarm::after {
  content: '';
  position: absolute;
  left: 15px;
  height: 100%;
  border-left: 6px solid #69CDE7;
}

header .navMild::after {
  border-left: 6px solid #F8971D;
}

header .navWarm::after {
  border-left: 6px solid #ED2024;
}

@media (max-width: 640px) {
  header .userChoiceMini {
    margin-top: 10px;
  }
  header .userChoice {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .userChoice li {
    width: 80px;
  }
  header nav {
    /* hamburger starts */
    /* hamburger animation starts */
    /* hamburger animation ends */
    /* hamburger ends */
  }
  header nav .pageNav {
    position: absolute;
    left: -200%;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  header nav label {
    top: 20px;
    z-index: 8;
  }
  header nav .hamburger {
    position: relative;
    width: 13vw;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header nav .hamburger:hover .hamburger-lines {
    background: #D6D6D7;
    border: 1px solid transparent;
  }
  header nav .hamburger-lines {
    width: 100%;
    height: 5px;
    border: 1px solid #c7c7c8;
    border-radius: 20px;
    margin: 6px 0;
    background: #f6f6f6;
    -webkit-transition: 0.5s ease 0.5s;
    transition: 0.5s ease 0.5s;
  }
  header nav .hamburger-lines:nth-child(3) {
    background: #b4f6ff;
  }
  header nav .hamburger:active .hamburger-lines {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  header nav input[name="toggle"]:checked + label > .hamburger {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  header nav input[name="toggle"]:checked + label > .hamburger > .line1 {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
  header nav input[name="toggle"]:checked + label > .hamburger > .line2 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  header nav input[name="toggle"]:checked + label > .hamburger > .line3 {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
  header nav input[name="toggle"]:checked ~ .pageNav {
    position: fixed;
    z-index: 1;
    left: 0;
    width: 140px;
    background: #b4f6ff;
  }
  header nav .hamburger:hover, header nav .hamburger:focus {
    cursor: pointer;
  }
}

main .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

main h2 {
  position: relative;
  top: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  letter-spacing: 2px;
}

main h2::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  border-bottom: 5px solid #D6D6D7;
}

main button {
  padding: 5px 8px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid #b4f6ff;
  border-right: 2px solid #b4f6ff;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main button:hover {
  border-top: 2px solid #D6D6D7;
  border-left: 2px solid #D6D6D7;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

main .innerNav ~ div {
  height: 100%;
  margin-top: 10px;
}

main .innerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-bottom: 8px;
  width: 100%;
}

main .innerNav li {
  text-align: center;
  border-right: 1px solid #b4f6ff;
  border-left: 1px solid #b4f6ff;
  margin: 3px 0;
}

main .innerNav button {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Nixie One', serif;
  font-weight: 400;
  color: #181818;
  letter-spacing: 2px;
  padding: 0;
  border: 0;
  margin: 6px 10px;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main .innerNav button:hover {
  border-bottom: 3px solid #b4f6ff;
}

main .innerNav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #D6D6D7;
}

main .displayResults {
  overflow-x: auto;
}

main .sevenDayForecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  width: 100%;
  overflow-x: auto;
}

main .sevenDayForecast .dayOfWeek {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 11%;
          flex: 1 0 11%;
  min-width: 70px;
  border-left: 2px solid #b4f6ff;
  padding: 0 4px;
}

main .sevenDayForecast .dayOfWeek ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sevenDayForecast .dayOfWeek li {
  height: 65px;
  border-bottom: 1px solid #D6D6D7;
}

main .sevenDayForecast .dayOfWeek li:first-child {
  height: 85px;
  text-align: center;
}

main .sevenDayForecast .dayOfWeek li:last-child {
  height: 85px;
  border-bottom: 1px solid transparent;
}

main .sevenDayForecast .dayOfWeek li:nth-child(n+2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sevenDayForecast .dayOfWeek p {
  display: block;
  text-align: center;
}

main .sevenDayForecast .dayOfWeek h4 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #181818;
}

main .sevenDayForecast .dayOfWeek:first-of-type,
main .sevenDayForecast .dayOfWeek:nth-of-type(2) {
  border-left: 2px solid transparent;
}

main .sevenDayForecast .dayOfWeek:first-of-type {
  min-width: 50px;
}

main .sevenDayForecast .dayOfWeek:first-of-type h4 {
  text-align: center;
}

main .sevenDayForecast .dayOfWeek:first-of-type span {
  font-size: 10px;
  font-size: 1rem;
  display: block;
}

main .sevenDayForecast .dayOfWeek:first-of-type li:nth-child(n+2) {
  border-right: 4px solid #D6D6D7;
}

main .sevenDayForecast .dayOfWeek:first-of-type li:last-child {
  border-right: 4px solid transparent;
}

main .theMap {
  width: 100%;
  height: 100%;
}

main .restaurantResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  overflow-x: auto;
  text-align: center;
}

main .restaurantResults .restaurantCard, main .restaurantResults img, main .restaurantResults h2 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .restaurantResults .restaurantCard {
  border: 2px solid #D6D6D7;
  border-radius: 0;
  position: relative;
  width: 230px;
  height: 230px;
}

main .restaurantResults .restaurantCard:hover,
main .restaurantResults .restaurantCard:hover img {
  border-radius: 20px;
}

main .restaurantResults .restaurantCard:hover h2 {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

main .restaurantResults .restaurantCard:hover {
  border: 4px solid #D6D6D7;
}

main .restaurantResults h2 {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #181818;
  letter-spacing: initial;
  position: absolute;
  top: initial;
  bottom: 0;
  width: 100%;
  min-height: 20%;
  padding: 5px;
  margin: 0;
  border: 3px solid transparent;
  background: rgba(180, 246, 255, 0.9);
}

main .restaurantResults h2::after {
  width: 0;
}

main .restaurantResults img {
  border: 3px solid transparent;
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  main .restaurantResults .restaurantCard {
    width: 150px;
    height: 150px;
  }
  main .restaurantResults h2 {
    padding: 2px;
  }
  main .restaurantResults img {
    border: 2px solid transparent;
  }
}

@media (max-width: 640px) {
  main .mainContainer {
    min-height: 100vh;
    height: auto;
  }
  main .restaurantResults h2 {
    font-size: 11px;
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  main .restaurantResults .restaurantCard {
    width: 130px;
    height: 130px;
  }
  main .restaurantResults h2 {
    padding: 1px;
  }
  main .restaurantResults img {
    border: 1px solid transparent;
  }
}
