html {
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #b4f6ff;
}

img {
  display: block;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Nixie One', serif;
  font-weight: 400;
  color: #181818;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-shadow: 1px 1px 0 #f6f6f6;
}

a:hover {
  border-bottom: 5px solid #D6D6D7;
}

button {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #181818;
  font-weight: 700;
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #f6f6f6;
  max-width: 900px;
  width: 80%;
  height: 80vh;
  padding: 30px 50px;
  border: 10px solid #D6D6D7;
  border-radius: 40px;
  margin: auto 0;
}

.innerWrapper h3:first-of-type {
  margin-top: 0;
}

h1, h2, h3 {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Nixie One', serif;
  font-weight: 400;
  color: #181818;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #181818;
  line-height: calc(14 * 1.6px);
}

header li {
  width: 30%;
  padding: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header img {
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(1px 1px 0 #101564);
          filter: drop-shadow(1px 1px 0 #101564);
}

header .sideNav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

header .userChoiceMini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  width: 120px;
  height: 60px;
  margin-top: 20px;
  border: 4px solid #D6D6D7;
  border-left: none;
  border-radius: 0 15px 15px 0;
}

header .userChoiceMini li:hover {
  -webkit-transform: scale(1.2) rotate(20deg);
          transform: scale(1.2) rotate(20deg);
}

header .landingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header .userChoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin-bottom: 40px;
}

header .userChoice li {
  width: 100px;
}

header .userChoice li:hover {
  -webkit-transform: scale(1.2) rotate(20deg);
          transform: scale(1.2) rotate(20deg);
}

header .userChoice img {
  -webkit-filter: drop-shadow(2px 2px 2px #101564);
          filter: drop-shadow(2px 2px 2px #101564);
}

header .pageNav {
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header .pageNav li {
  width: auto;
  margin: 1vh 0;
  padding-left: 24px;
}

header .pageNav a {
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 2px;
}

header .pageNav::after {
  content: '';
  position: absolute;
  left: 15px;
  z-index: -2;
  height: 100%;
  border-left: 6px solid #D6D6D7;
}

header .navCool::after,
header .navMild::after,
header .navWarm::after {
  content: '';
  position: absolute;
  left: 15px;
  z-index: -1;
  height: 100%;
  border-left: 6px solid #69CDE7;
}

header .navMild::after {
  border-left: 6px solid #F8971D;
}

header .navWarm::after {
  border-left: 6px solid #ED2024;
}

main .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

main h2 {
  position: relative;
  top: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  letter-spacing: 2px;
}

main h2::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  border-bottom: 5px solid #D6D6D7;
}

main button {
  padding: 5px 8px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid #b4f6ff;
  border-right: 2px solid #b4f6ff;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main button:hover {
  border-top: 2px solid #D6D6D7;
  border-left: 2px solid #D6D6D7;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

main .innerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 12px;
  height: 100%;
}

main .innerNav li {
  width: 100%;
  text-align: right;
}

main .innerNav button {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Nixie One', serif;
  font-weight: 400;
  color: #181818;
  letter-spacing: 2px;
  padding: 0;
  border: 0;
  margin: 10px 0;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main .innerNav button:hover {
  border-bottom: 3px solid #b4f6ff;
}

main .innerNav::after {
  content: '';
  position: absolute;
  right: -4px;
  height: 100%;
  border-right: 3px solid #D6D6D7;
}

main .displayResults {
  overflow-x: auto;
}

.sevenDayForecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.sevenDayForecast .dayOfWeek {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 11%;
          flex: 1 0 11%;
  border-left: 2px solid #b4f6ff;
  padding: 0 4px;
}

.sevenDayForecast .dayOfWeek ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sevenDayForecast .dayOfWeek li {
  height: 45px;
  border-bottom: 1px solid #D6D6D7;
}

.sevenDayForecast .dayOfWeek li:first-child {
  height: 75px;
  text-align: center;
}

.sevenDayForecast .dayOfWeek li:last-child {
  height: 75px;
  border-bottom: 1px solid transparent;
}

.sevenDayForecast .dayOfWeek li:nth-child(n+2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sevenDayForecast .dayOfWeek p {
  display: block;
  text-align: center;
}

.sevenDayForecast .dayOfWeek h4 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #181818;
}

.sevenDayForecast .dayOfWeek:first-of-type,
.sevenDayForecast .dayOfWeek:nth-of-type(2) {
  border-left: 2px solid transparent;
}

.sevenDayForecast .dayOfWeek:first-of-type h4 {
  text-align: center;
}

.sevenDayForecast .dayOfWeek:first-of-type span {
  font-size: 10px;
  font-size: 1rem;
  display: block;
}

.sevenDayForecast .dayOfWeek:first-of-type li:nth-child(n+2) {
  border-right: 4px solid #D6D6D7;
}

.sevenDayForecast .dayOfWeek:first-of-type li:last-child {
  border-right: 4px solid transparent;
}

#map {
  width: 680px;
  height: 520px;
}
