html {scroll-behavior: smooth;}
body {background: $bgColor;}
img {display: block;}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3 {@include fontSerif(20);}

p {
    @include fontSans(14);
    line-height: calc(14 * 1.6px);
}

a {
    @include fontSerif(14);
    text-decoration: none;

    border-bottom: 5px solid transparent;
    transition: all 0.3s ease-in;
    text-shadow: 1px 1px 0 $primaryWhite;

    &:hover {
        border-bottom: 5px solid $secondaryWhite;
    }
}

button {
    @include fontSans(14);
    font-weight: 700;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    transition: all 0.3s ease-in;
}

.innerWrapper {
    @include flexCenter();
    flex-direction: column;
    
    position: relative;
    background: $primaryWhite;

    max-width: 900px;
    width: 80%; 
    height: 85vh;
    padding: 30px 50px;
    padding-top: 8px;
    border: 10px solid $secondaryWhite;
    border-radius: 40px;
    margin: auto 0;

    h3:first-of-type {margin-top: 0;}
}

// media queries begin
@media (max-width: 1200px) {
    
    .innerWrapper {margin-left: 130px;}
}

@media (max-width: 860px) {
    .innerWrapper {padding: 15px 25px;}
}

@media (max-width: 640px) {
    .innerWrapper {
        margin-left: 0;
        min-height: 85vh;
        width: 95%;
    }

    .resultsContainer .innerWrapper, .restaurants .innerWrapper {height: auto;}
}