header {
    // hamburger starts
    nav label {
        position: fixed;
        top: -200%;
        right: 20px;
        transition: 0.5s;
    }

    nav input{ display: none; }
    // hamburger ends

    h1,h3 {text-align: center;}

    h1{
        position: relative;

        &::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -6px;
            left: 0;
            border-bottom: 5px solid $secondaryWhite;
        }
    }

    li {
        width: 30%;
        padding: 8px;
        transition: all 0.2s ease-in;
    }

    img {
        width: 100%;
        height: 100%;

        filter: drop-shadow(1px 1px 0 $secondaryBlack);
    }

    .sideNav {
        display: none;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
    }

    
    .userChoiceMini {
        @include flexCenter();
        position: fixed;
        z-index: 100;
        
        width: 120px;
        height: 60px;
        margin-top: 20px;
        border: 4px solid $secondaryWhite;
        border-left: none;
        border-radius: 0 15px 15px 0;
        
        background: $primaryWhite;

        li:hover {transform: scale(1.2) rotate(20deg);}
    }

    .landingContainer {
        @include flexCenter();
        height: 100vh;
        
    }

    .userChoice {
        @include flexCenter();
        justify-content: space-evenly;

        width: 80%;
        margin-bottom: 40px;

        li {
            width: 100px;

            &:hover {transform: scale(1.2) rotate(20deg);}
        }

        img {
            filter: drop-shadow(2px 2px 2px $secondaryBlack);
        }
    }

    .pageNav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        li {
            width: auto;
            margin: 1vh 0;
            padding-left: 24px;
        }

        a {
            @include fontSize(20);
            letter-spacing: 2px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 15px;
            height: 100%;
            border-left: 6px solid $secondaryWhite;
        }
    }
    // nav line colors for jQ to toggle:
    .navCool::after,
    .navMild::after,
    .navWarm::after {
        content: '';
        position: absolute;
        left: 15px;
        height: 100%;
        border-left: 6px solid $coldColor;
    }

    .navMild::after {
        border-left: 6px solid $mildColor;
    }

    .navWarm::after {
        border-left: 6px solid $warmColor;
    }
    // nav lines end

    // media queries
    @media (max-width: 640px) {
        .userChoiceMini {margin-top: 10px;}
        
        .userChoice {
            flex-wrap: wrap;
            li {width: 80px;}
        }

        nav {
            /* hamburger starts */
            .pageNav {
                position: absolute;
                left: -200%;
                top: 0;
                right: 0;
                
                flex-direction: column;
                width: 100%;
                overflow: hidden;
            
                transition: all 0.5s ease-in-out;
            }

            label { top: 20px; z-index: 8;} 

            .hamburger {
                position: relative;
                width: 13vw;
                transition: 0.3s ease-in;

                &:hover .hamburger-lines{
                    background: $secondaryWhite;
                    border: 1px solid transparent;
                }
            }

            .hamburger-lines {
                width: 100%;
                height: 5px;
                border: 1px solid $primaryBlack;
                border-radius: 20px;
                margin: 6px 0;
                
                background: $primaryWhite;
                transition: 0.5s ease 0.5s;
        
                &:nth-child(2){background: $bgColor;}
            }

            .hamburger:active .hamburger-lines { transform: translateY(-10px); }

            /* hamburger animation starts */
            input[name="toggle"]:checked + label > .hamburger {
                transform: rotate(180deg);
            }

            input[name="toggle"]:checked + label > .hamburger > .line1 {
                transform: translateY(12px);
            }

            input[name="toggle"]:checked + label > .hamburger > .line2 {
                transform: translateY(-9px);
            }
            /* hamburger animation ends */

            input[name="toggle"]:checked ~ .pageNav {
                position: fixed;
                z-index: 1;
                left: 0;
                width: 140px;
        
                background: $bgColor;
            }

            .hamburger:hover, .hamburger:focus { cursor: pointer; }
        /* hamburger ends */
        }
    }
}