main {

    .mainContainer {
        @include flexCenter();
        height: 100vh;
    }

    h2 {
        position: relative;
        top: 0;
        align-self: start;
        letter-spacing: 2px;
        
        &::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -4px;
            left: 0;
            border-bottom: 5px solid $secondaryWhite;
        }
    }

    button {
        padding: 5px 8px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-bottom: 2px solid $bgColor;
        border-right: 2px solid $bgColor;
        border-radius: 10px;
        transition-duration: 0.4s;

        &:hover {
            border-top: 2px solid $secondaryWhite;
            border-left: 2px solid $secondaryWhite;
            border-bottom: 2px solid transparent;
            border-right: 2px solid transparent;
        }
    }

    .innerNav {
        @include flexCenter();
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;

        padding: 0 50px;
        height: 7%;
        width: 100%;

        li {
            flex: 0 1 auto;
            text-align: center;
            border-right: 1px solid $bgColor;
        }

        li:last-child {
            border-right: 1px solid transparent;
        }

        button {
            @include fontSerif(15);
            letter-spacing: 2px;
            padding: 0;
            border: 0;
            margin: 6px 10px;

            border-radius: 0;
            border-bottom: 3px solid transparent;
            transition-duration: 0.3s;

            &:hover {
                border-bottom: 3px solid $bgColor;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 3px solid $secondaryWhite;
        }
    }
// city info section
    .displayResults {
        overflow-x: auto; 
    }
// city info section ends
// forecasts section
    .sevenDayForecast {
        display: flex;
        margin-top: 20px;

        .dayOfWeek {
            flex: 1 0 11%;
            border-left: 2px solid $bgColor;
            padding: 0 4px;

            ul {
                display: flex;
                flex-direction: column;
            }
            li {
                height: 45px;
                border-bottom: 1px solid $secondaryWhite;
            }

            li:first-child {
                height: 75px;
                text-align: center;
            }

            li:last-child {
                height: 75px;
                border-bottom: 1px solid transparent;
            }

            li:nth-child(n+2) {
                @include flexCenter();
            }

            p {
                display: block;
                text-align: center;
            }

            h4 {@include fontSans(14);}
        }

        .dayOfWeek:first-of-type,
        .dayOfWeek:nth-of-type(2) {
            border-left: 2px solid transparent;
        }
        
        .dayOfWeek:first-of-type {
            h4 {text-align: center;}
            span {@include fontSize(10); display: block;}
            li:nth-child(n+2){border-right: 4px solid $secondaryWhite;}
            li:last-child {border-right: 4px solid transparent;}
        }
    }
    // forecasts end

    #map {
        width: 680px;
        height: 520px;
    }
}

