main {

    .mainContainer {
        @include flexCenter();
        height: 100vh;
    }

    h2 {
        position: relative;
        top: 0;
        align-self: start;
        letter-spacing: 2px;
        
        &::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -4px;
            left: 0;
            border-bottom: 5px solid $secondaryWhite;
        }
    }

    button {
        padding: 5px 8px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-bottom: 2px solid $bgColor;
        border-right: 2px solid $bgColor;
        border-radius: 10px;
        transition-duration: 0.4s;

        &:hover {
            border-top: 2px solid $secondaryWhite;
            border-left: 2px solid $secondaryWhite;
            border-bottom: 2px solid transparent;
            border-right: 2px solid transparent;
        }
    }

    .innerNav {
        @include flexCenter();
        flex-direction: column;

        position: absolute;
        top: 0;
        right: 12px;

        height: 100%;

        li {
            width: 100%;
            text-align: right;
        }

        button {
            @include fontSerif(15);
            letter-spacing: 2px;
            padding: 0;
            border: 0;
            margin: 10px 0;

            border-radius: 0;
            border-bottom: 3px solid transparent;
            transition-duration: 0.3s;

            &:hover {
                border-bottom: 3px solid $bgColor;
            }
        }

        &::after {
            content: '';
            position: absolute;
            right: -4px;
            height: 100%;
            border-right: 3px solid $secondaryWhite;
        }
    }
// city info section
    .displayResults {
        overflow-x: auto; 
    }
// city info section ends
}

#map {
    width: 680px;
    height: 520px;
}

.restaurants {
    overflow-x: auto;
    text-align: center;
}
.restaurants img {
    width: 40%;
    margin: 0 auto;
}