// font colours
$primaryBlack: #181818;
$secondaryBlack: #101564;
$primaryWhite: #f6f6f6;
$secondaryWhite: #D6D6D7;

$coldColor: #69CDE7;
$mildColor: #F8971D;
$warmColor: #ED2024;

$bgColor: #b4f6ff;

// mixins

// vertical + horizontal centering w/ flexbox
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// fonts
@mixin fontSize($sizeValue){
    // font sizes turn into rem values
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin fontSans($size, $color: $primaryBlack) {
    @include fontSize($size);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: $color;
}

@mixin fontSerif($size, $color: $primaryBlack) {
    @include fontSize($size);
    font-family: 'Nixie One', serif;
    font-weight: 400;
    color: $color;
}

